body{
    background-image: url("Curve\ Line.svg");
    background-repeat: repeat-y;
}

h1{
    font-family:'Courier New', monospace;

    text-align: center;
    color: rgb(83, 83, 83);
}


h2{
    font-family:'Courier New', monospace;
    color: rgb(83, 83, 83);
}
p{
    font-family:'Courier New', monospace;
    color: rgb(83, 83, 83);
}

h5{
    color:rgb(32, 51, 110); ;
    
    text-align: center;
    font-family:'Courier New', monospace;
}

h6{
    color:rgb(32, 51, 110); ;
    
    text-align: center;
    font-family:'Courier New', monospace;
}
.navbar{
    font-family:'Courier New', monospace;
    background-color: rgba(0, 0, 0, 0.354);
}

.nav-link{
    color:rgb(32, 51, 110)
}


.img{
   width: 60px;
   height: 60px;
}
#foot{
    text-align: center;
}