html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    /*background-image: url("Pics/pexels-felix-mittermeier-4644812.jpg");
    */
    background-image: linear-gradient(to right top, #09203f, #1b3454, #2d4a69, #3f607f, #537895);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
        }
  
  
  

h1{
    font-family:'Courier New', monospace;

    text-align: center;
    color: rgb(255, 255, 255)
}


h2{
    font-family:'Courier New', monospace;
    color: #EEA47FFF
}

h3{
    font-family:'Courier New', monospace;

    color: #EEA47FFF
}
p{
    font-family:'Courier New', monospace;
    
    color: rgb(255, 255, 255);;
}

h5{
    color:rgb(250, 250, 250);
    text-align: center;
    font-family:'Courier New', monospace;
}

h6{
    color:rgb(253, 253, 253);
    
    text-align: center;
    font-family:'Courier New', monospace;
}
.navbar{
    font-family:'Courier New', monospace;
    background-color: rgba(0, 0, 0, 0.354);
}

.nav-link{
    color:rgb(255, 255, 255)
}


.nav-link:hover{
    color: #EEA47FFF;
}



.img{
   width: 60px;
   height: 60px;
}
#foot{
    text-align: center;
}

ul{
    color:rgb(255, 255, 255);
    font-family:'Courier New', monospace;
}
h4{
    color:rgb(32,51,110);
    font-family:'Courier New', monospace;
}

hr.rounded {
        border-top: 5px solid rgb(31, 35, 89);
        border-radius: 5px;
}
    

.logo:hover{
    opacity: 0.5;
}

#erd{
    width: 100%;
  max-width: 100%;
}

#code{
    color: #e76363;
    font-weight: bold;
}
 
table, td, th {
    border: 1px solid;
    color:#ffffff;
}