body{
    background-image:url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/r-t-porschebody-art-1614957409.jpg?crop=0.782xw:0.706xh;0.0128xw,0.149xh&resize=2048:*");
    background-position:center
    ;
 background-repeat: no-repeat;
    background-attachment: fixed;
 
 }
 
 h1{
    font-family: sans-serif;
     color:#c7c7c7
 }
 
 h2{
     color:#34568B
 }
 
 h3{ 
     color: #ff5b4d
 }
 
 
 p{
     text-align:center;
     color:#88B04B;
     font-weight: bold;
 
 }
 
 ul {
     
     color:#6B5B95
 }
 
 li{
     font-weight: bold ;
     color:#6B5B95
     
 }
 
 table, td, th {
     border: 1px solid;
     color:#F7CAC9;
 }
 
 img{
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 
