body{
   background-image:url("https://4kwallpapers.com/images/wallpapers/porsche-911-turbo-s-black-background-amoled-pitch-black-3840x2160-7730.jpg");
   background-position:center
   ;
background-repeat: no-repeat;
   background-attachment: fixed;

}

h1{
    color:#92A8D1
}

h2{
    color:#34568B
}

h3{ 
    color: #ff5b4d
}


p{
    text-align:center;
    color:#88B04B;
    font-weight: bold;

}

ul {
    
    color:#6B5B95
}

li{
    font-weight: bold ;
    color:#6B5B95
    
}

table, td, th {
    border: 1px solid;
    color:#F7CAC9;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


