body{
   background-image:url("https://4kwallpapers.com/images/wallpapers/porsche-911-turbo-s-black-background-amoled-pitch-black-3840x2160-7730.jpg");
   background-position:center;
    background-repeat: no-repeat;
   background-attachment: fixed;

}

h1{
    color:#b5c2c7 
}

h2{
    color:#dfdbd8
}

h3{ 
    color: #9d7463
}


p{
    text-align:center;
    color:#565c5e ;
    font-weight: bold;

}

ul {
    
    color:#455954
}

li{
    font-weight: bold ;
    color:#455954
    
}

table, td, th {
    border: 1px solid;
    color:#9d7463;
}

img{
    margin-left: auto;
    margin-right: auto;
}




.container{

    margin-left: -6px;
    width: 100%;

}
